footer {
    background-color: #2B303Ad7;
    padding: 20px 0 40px 0;
    color: #7C7C7C;

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: auto;
        margin-right: auto;
        max-width: 50rem;
        padding: 20px;
    }

    a {
        color: #EEE5E9;
        margin: 10px;

        &:hover {
            color: #D64933;
        }
    }

    .copyright {
        text-align: right;
    }
}